@use "@picocss/pico/scss" with (
	$theme-color: "slate",
	$modules: (
		"content/code": false,
		"content/embedded": false,
		"content/miscs": false,
		"content/table": false,
		"forms/input-color": false,
		"forms/input-date": false,
		"forms/input-range": false,
		"forms/input-search": false,
		"components/accordion": false,
		"components/dropdown": false,
		"components/tooltip": false,
	)
);

:root {
	font-size: 100%;
}

.visually-hidden {
	border: 0;
	clip: rect( 1px, 1px, 1px, 1px );
	clip-path: inset( 50% );
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-shortcut {
	position: absolute;
	inset-block-start: -1000em;
	inset-inline-start: var( --pico-spacing );
	display: block;
	z-index: 100000;
	inline-size: auto;
	block-size: auto;

	&:focus {
		inset-block-start: var( --pico-spacing );
	}
}

button:has( svg ) {
	display: inline-flex;
}
